Repository vlad-iakovlev/telegram-md: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  commands:
    compile:
      run: npm run compile
    lint:
      glob: '*.{js,ts}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{js,ts,md,json}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    test:
      run: npm run test

chore: npm update (#344)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#346)
  package-lock.json
Due: prettier

chore: temporary disable publish
  .github/workflows/ci.yml
Due: none

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#349)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#350)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#353)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#354)
  package-lock.json
Due: prettier

chore: npm update (#355)
  package-lock.json
Due: prettier

chore: npm update (#358)
  package-lock.json
  package.json
Due: prettier

feat: create @telegram-md/core package
  .gitignore
  .npmignore
  README.md
  eslint.config.ts
  package-lock.json
  package.json
  packages/core/.npmignore
  packages/core/LICENSE
  packages/core/README.md
  packages/core/package.json
  packages/core/src/_escape.ts
  packages/core/src/_toMarkdown.ts
  packages/core/src/blockquote.test.ts
  packages/core/src/blockquote.ts
  packages/core/src/bold.test.ts
  packages/core/src/bold.ts
  packages/core/src/build.test.ts
  packages/core/src/build.ts
  packages/core/src/codeBlock.test.ts
  packages/core/src/codeBlock.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/inlineCode.test.ts
  packages/core/src/inlineCode.ts
  packages/core/src/italic.test.ts
  packages/core/src/italic.ts
  packages/core/src/join.test.ts
  packages/core/src/join.ts
  packages/core/src/link.test.ts
  packages/core/src/link.ts
  packages/core/src/markdown.ts
  packages/core/src/spoiler.test.ts
  packages/core/src/spoiler.ts
  packages/core/src/strikethrough.test.ts
  packages/core/src/strikethrough.ts
  packages/core/src/underline.test.ts
  packages/core/src/underline.ts
  packages/core/tsconfig.json
  prettier.config.js
  tsconfig.json
Due: lint, prettier

feat: add grammy-plugin
  .gitignore
  README.md
  package-lock.json
  packages/core/README.md
  packages/grammy-plugin/.npmignore
  packages/grammy-plugin/LICENSE
  packages/grammy-plugin/README.md
  packages/grammy-plugin/package.json
  packages/grammy-plugin/src/index.test.ts
  packages/grammy-plugin/src/index.ts
  packages/grammy-plugin/tsconfig.json
  tsconfig.json
Due: lint, prettier

feat: add changeset
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier

chore: update deps
  package-lock.json
  package.json
Due: prettier

chore: add dependency for CI
  package-lock.json
  package.json
Due: prettier

chore: fix ci
  .github/workflows/ci.yml
Due: none

chore: fix codecov
  .github/workflows/codecov.yml
Due: none

chore: update actions
  .github/workflows/codecov.yml
  .github/workflows/update.yml
Due: none

chore: fix coverage
  package.json
Due: prettier

chore: fix readme formatting
  README.md
Due: prettier

chore: prepare major version
  .changeset/salty-badgers-smile.md
Due: prettier

chore: try dropping NPM_CONFIG_PROVENANCE
  .github/workflows/ci.yml
Due: none

chore: try adding empty NPM_TOKEN to fix publish
  .github/workflows/ci.yml
Due: none

chore: remove empty NPM_TOKEN and upgrade npm before publishing
  .github/workflows/ci.yml
Due: none

chore: use latest npm version
  .github/workflows/ci.yml
Due: none

chore: try setting npm version in publish script
  .github/workflows/ci.yml
Due: none

chore: add typescript as dev dep
  packages/core/package.json
  packages/grammy-plugin/package.json
Due: prettier

fix: build
  packages/core/tsconfig.json
  packages/grammy-plugin/tsconfig.json
Due: prettier

chore: npm update (#367)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#368)
  package-lock.json
Due: prettier
