Repository vlad-iakovlev/telegram-md: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#277)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#278)
  package-lock.json
  package.json
Due: prettier

chore: fix prettier
  src/index.ts
Due: lint, prettier

feat: add blockquote (#161)
  README.md
  src/blockquote.test.ts
  src/blockquote.ts
  src/index.ts
Due: lint, prettier

Notes added by 'git notes add'
  aac9aa1e4fabd80776e660f45ab82fad4246d2a1
Due: none

chore: npm update (#279)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#280)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#281)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#282)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#283)
  package-lock.json
  package.json
Due: prettier

chore: upgrade node to v22, eslint to v9
  .eslintignore
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/update.yml
  .npmignore
  eslint.config.ts
  jest.config.js
  package-lock.json
  package.json
  prettier.config.js
  tsconfig.json
Due: lint, prettier

chore: npm update (#285)
  package-lock.json
  package.json
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: npm update (#286)
  package-lock.json
Due: prettier

chore: npm update (#287)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#288)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#289)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#290)
  package-lock.json
Due: prettier

chore: use defineConfig in eslint.config.ts
  eslint.config.ts
Due: lint, prettier

chore: make eslint verbose
  package.json
Due: prettier

chore: npm update (#291)
  eslint.config.ts
  package-lock.json
  package.json
Due: lint, prettier

chore: npm update (#292)
  package-lock.json
  package.json
Due: prettier

Path conditions:
  lint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,md,json}
